body {
    padding-top: 5rem;
    font-family: 'PortoSans-Regular';
    color: rgb(255, 255, 255);
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../common/images/others/pic1.jpg");
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    /* visibility: hidden; */
}


html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  p {
      font-size: 140%;
  }
